@media (max-width:1063px) {
  html {
    font-size: 56.25%;
  }
}
/* *************************** */
/* BELOW 900PX */
/* *************************** */
@media (max-width:57em) {
  html {
    font-size: 62.5%;
  }
  body {
    height: 100%;
    text-align: center;
  }
  .container {
    width: 37.5rem;
  }
  .grid--2--cols {
    row-gap: 4rem;
    grid-template-columns: 1fr;
  }
  .section-form{
    padding: 5rem 0;
  }
  .text-heading {
    font-size: 2.8rem;
    line-height: 1.4;
  }
  .form-box {
    margin: 0 auto;
  }
  .trial {
    padding: 1.5rem 5rem;
  }
}